
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                <a href="https://appseed.us/admin-dashboards/flask-dashboard-purpleadmin">Flask Dashboard Purple Admin</a> - Coded in Flask by AppSeed.
            </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> &copy; <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a></span>
        </div>
    </footer>
    <!-- partial -->
