<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      Flask Dashboard PurpleAdmin - {% block title %}{% endblock %} | AppSeed
    </title>
    
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

  </head>
  <body>
    <div class="container-scroller">

      {% include 'site_template/navigation.html' %}

      <div class="container-fluid page-body-wrapper">
        
        {% include 'site_template/sidebar.html' %}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            {% block content %}{% endblock content %}

          </div>
          <!-- content-wrapper ends -->

          {% include 'site_template/footer.html' %}

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    {% include 'site_template/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>